<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">js-data + Angular Example</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li data-ng-class="{ active: !path }">
          <a href="/">Home</a>
        </li>
        <li data-ng-class="{ active: path === 'users' }">
          <a href="/users">Users</a>
        </li>
        <li data-ng-class="{ active: path === 'posts' }">
          <a href="/posts">Posts</a>
        </li>
        <li data-ng-if="!loggedInUser">
          <a href="" data-ng-click="login()">Login with Github</a>
        </li>
        <li data-ng-if="loggedInUser">
          <a data-ng-href="/users/{{ loggedInUser.id }}">
            Hi <strong data-ng-bind="loggedInUser.displayName || loggedInUser.username"></strong>!
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://github.com/js-data/js-data-examples" target="_blank">Code on Github</a>
        </li>
        <li>
          <a href="https://gitter.im/js-data/js-data" target="_blank">Gitter Channel</a>
        </li>
        <li>
          <a href="https://groups.io/org/groupsio/jsdata" target="_blank">Mailing List</a>
        </li>
        <li>
          <a href="https://www.js-data.io" target="_blank">js-data.io</a>
        </li>
      </ul>

    </div>
  </div>
</div>
