<div class="post">
  <h2 class="page-header">
    {{ PostCtrl.post.title }}
    <small data-ng-bind="PostCtrl.post.created_at | date:'shortDate'"></small>
  </h2>
  <div data-ng-bind="PostCtrl.post.body"></div>
  <hr/>
  <div data-ng-repeat="comment in PostCtrl.comments track by comment.id">
    <h5>
      {{ comment.user.username }}
      <small data-ng-bind="comment.created_at | relativeDate" class="pull-right"></small>
    </h5>

    <div data-ng-bind="comment.body"></div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-10">
      <textarea data-ng-model="PostCtrl.comment.body" placeholder="comment" class="form-control"></textarea>
    </div>
    <div class="col-md-2">
      <button data-ng-click="PostCtrl.submit()" class="btn btn-primary">
        Submit comment
      </button>
    </div>
  </div>
</div>
