<div>
  <h1 class="page-header">
    New Post
  </h1>

  <form id="new-post-form" name="new-post-form" data-ng-submit="create()">
    <div class="form-group">
      <label class="form-control" for="title">Title</label>
      <input type="text" required data-ng-disabled="processing" id="title" name="title" data-ng-model="post.title"
             class="form-control"/>
    </div>
    <div class="form-group">
      <label class="form-control" for="content">Content</label>
      <textarea required data-ng-disabled="processing" id="content" name="content" data-ng-model="post.content"
                class="form-control"></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Publish Post</button>
    </div>
  </form>
</div>
